* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map {
  height: 100%;
  width: 100%;
  flex-grow: 2;
}

#sidebar {
  flex-basis: 33%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

#sidebar > #choices,
#heading,
#itinerary-content {
  /* text-align: right; */
  padding: 15px;
}

#choices {
  background-color: brown;
}

#itinerary {
  background-color: green;
}

#heading {
  width: 100%;
  background-color: orange;
}

@media(min-width: 500px){
    #container {
        flex-direction: row;
    }
    #map {
      height: 100%;
      width: 100%;
      flex-grow: 2;
    }

    #sidebar {
      flex-basis: 33%;
      flex-grow: 1;
      display: flex;
      align-content: flex-end;
    }
}

